     /* Targets */
        section{
        width: 390px;
        height: 192px;
        background: lightblue;
        background-color:linear-gradient(101.17deg, #160F41 13.18%, #01030D 87.97%);
    }
    